* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.nav {
  padding: 24px 0;
  width: 90%;
  margin: 0 auto;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__container__items {
  display: none;
  position: fixed;
  width: 90%;
  text-align: center;
  border-radius: 8px;
  background-color: hsl(257, 27%, 26%);
  color: #fff;
  padding: 35px;
  top: 80px;
}
.nav__container__items__ul li {
  margin-bottom: 25px;
}
.nav__container__items__ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 25px;
  border-bottom: 1px solid hsl(257, 7%, 63%);
}
.nav__container__items__ul li a {
  color: #fff;
}
.nav__container__items__ul li a:hover {
  cursor: pointer;
}
.nav__container__items__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.nav__container__items__action .login, .nav__container__items__action .sign {
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  padding: 16px;
}
.nav__container__items__action .login:hover, .nav__container__items__action .sign:hover {
  cursor: pointer;
}
.nav__container__items__action .login {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.nav__container__items__action .sign {
  background-color: hsl(180, 66%, 49%);
  border-radius: 50px;
}
.nav__container__items__action .sign:hover {
  background-color: hsl(180, 91%, 58%);
}
.nav__container__buttons {
  display: block;
}
.nav__container__buttons .open, .nav__container__buttons .close {
  font-size: 32px;
  color: hsl(257, 7%, 63%);
}
.nav__container__buttons .open:hover, .nav__container__buttons .close:hover {
  cursor: pointer;
}
.nav__container__buttons .close {
  display: none;
  transform: rotate(45deg);
}

.header {
  overflow: hidden;
}
.header__img {
  width: 135%;
  margin-left: 5%;
  max-width: 750px;
}
.header__img__working {
  width: 100%;
}
.header__container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 170px;
}
.header__container__h1 {
  color: hsl(255, 11%, 22%);
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.header__container__p {
  color: hsl(257, 7%, 63%);
  margin-bottom: 25px;
}
.header__container__button {
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 16px;
  width: 185px;
  font-weight: 700;
  font-size: 18px;
  background-color: hsl(180, 66%, 49%);
}
.header__container__button:hover {
  cursor: pointer;
  background-color: hsl(180, 91%, 58%);
}

.statistics {
  padding-top: 140px;
  background-color: hsl(0, 0%, 90%);
  padding-bottom: 100px;
}
.statistics__container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.statistics__container__links {
  position: absolute;
  width: 100%;
  top: -220px;
  padding: 24px;
  border-radius: 8px;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(257, 27%, 26%);
}
.statistics__container__links form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.statistics__container__links form input, .statistics__container__links form button {
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}
.statistics__container__links form input::-moz-placeholder {
  color: hsl(0, 0%, 75%);
}
.statistics__container__links form input::placeholder {
  color: hsl(0, 0%, 75%);
}
.statistics__container__links form input {
  border: transparent;
}
.statistics__container__links form input.error {
  margin-bottom: 10px;
  border: 2px solid hsl(0, 87%, 67%);
}
.statistics__container__links form .email-error {
  display: none;
  position: absolute;
  top: 80px;
  font-size: 13px;
  color: hsl(0, 87%, 67%);
}
.statistics__container__links form button {
  font-size: 18px;
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  font-weight: 700;
  border: none;
}
.statistics__container__links form button:hover {
  cursor: pointer;
  background-color: hsl(180, 91%, 58%);
}
.statistics__container__h2 {
  padding-top: 25px;
  margin-bottom: 25px;
}
.statistics__container__p {
  color: hsl(257, 7%, 63%);
  font-size: 16px;
  margin-bottom: 75px;
}
.statistics__container__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
}
.statistics__container__cards .line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: hsl(180, 66%, 49%);
}
.statistics__container__cards .card {
  position: relative;
  background-color: #fff;
  padding: 75px 25px 35px;
  padding-top: 75px;
  border-radius: 8px;
  width: 338px;
}
.statistics__container__cards .card__img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  top: -42px;
  right: 127px;
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
}
.statistics__container__cards .card__h3 {
  color: hsl(257, 27%, 26%);
  margin-bottom: 25px;
}
.statistics__container__cards .card__p {
  color: hsl(257, 7%, 63%);
  font-size: 16px;
  line-height: 1.6;
}

.boost {
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  text-align: center;
}
.boost__h2 {
  color: #fff;
  margin-bottom: 25px;
}
.boost__button {
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 16px;
  width: 185px;
  font-weight: 700;
  font-size: 18px;
  background-color: hsl(180, 66%, 49%);
}
.boost__button:hover {
  cursor: pointer;
  background-color: hsl(180, 91%, 58%);
}

.footer {
  background-color: hsl(260, 8%, 14%);
  padding: 50px 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.footer__container__logo img {
  filter: brightness(10);
}
.footer__container__links .link__title {
  color: #fff;
  margin-bottom: 25px;
  font-size: 16px;
}
.footer__container__links ul {
  line-height: 2;
}
.footer__container__links ul li a {
  color: hsl(0, 0%, 75%);
  font-size: 15px;
}
.footer__container__links ul li a:hover {
  color: hsl(180, 66%, 49%);
  cursor: pointer;
}
.footer__container__socials {
  display: flex;
  gap: 20px;
}
.footer__container__socials i {
  color: #fff;
  font-size: 32px;
}
.footer__container__socials i:hover {
  color: hsl(180, 66%, 49%);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__img {
    width: 135%;
    margin-left: 5%;
    max-width: 750px;
  }
  .header__img__working {
    width: 100%;
  }
  .header__container__h1 {
    font-size: 48px;
    margin-bottom: 5px;
  }
  .header__container__p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .statistics__container__h2 {
    font-size: 32px;
  }
  .statistics__container__p {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    padding: 35px 0;
    max-width: 1100px;
  }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .nav__container__items {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    text-align: initial;
    color: hsl(257, 27%, 26%);
    padding: 0 35px;
    top: 0;
    position: inherit;
  }
  .nav__container__items__ul {
    display: flex;
  }
  .nav__container__items__ul li {
    margin-right: 25px;
    margin-bottom: 0;
  }
  .nav__container__items__ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
  .nav__container__items__ul li a {
    color: hsl(0, 0%, 75%);
    font-weight: 700;
  }
  .nav__container__items__ul li a:hover {
    cursor: pointer;
    color: hsl(257, 27%, 26%);
  }
  .nav__container__items__action {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .nav__container__items__action .login, .nav__container__items__action .sign {
    font-size: 16px;
    padding: 8px;
  }
  .nav__container__items__action .login {
    margin-bottom: 0;
    color: hsl(0, 0%, 75%);
    font-weight: 700;
  }
  .nav__container__items__action .login:hover {
    cursor: pointer;
    color: hsl(257, 27%, 26%);
  }
  .nav__container__items__action .sign {
    width: 150px;
  }
  .nav__container__buttons {
    display: none;
  }
  .header {
    overflow: hidden;
    position: relative;
  }
  .header__img {
    position: absolute;
    width: 60%;
    right: -5%;
  }
  .header__container {
    text-align: left;
    padding-top: 130px;
    padding-bottom: 200px;
    max-width: 1100px;
  }
  .header__container__h1 {
    color: hsl(255, 11%, 22%);
    font-size: 52px;
    max-width: 50%;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .header__container__p {
    color: hsl(257, 7%, 63%);
    margin: initial;
    margin-bottom: 25px;
  }
  .header__container__button {
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 16px;
    width: 185px;
    font-weight: 700;
    font-size: 18px;
    background-color: hsl(180, 66%, 49%);
  }
  .header__container__button:hover {
    cursor: pointer;
    background-color: hsl(180, 91%, 58%);
  }
  .statistics {
    padding-top: 150px;
  }
  .statistics__container {
    max-width: 1100px;
  }
  .statistics__container__links {
    padding: 40px 48px;
    background-image: url("../images/bg-shorten-desktop.svg");
  }
  .statistics__container__links form {
    flex-direction: row;
    justify-content: space-between;
  }
  .statistics__container__links form input {
    width: 80%;
  }
  .statistics__container__links form input.error {
    margin-bottom: 0;
  }
  .statistics__container__links form .email-error {
    top: 95px;
  }
  .statistics__container__links form button {
    padding: 16px 32px;
    width: 20%;
  }
  .statistics__container__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    height: 350px;
  }
  .statistics__container__cards .line {
    top: 155px;
    bottom: inherit;
    width: 100%;
    height: 10px;
  }
  .statistics__container__cards .card {
    text-align: left;
  }
  .statistics__container__cards .card__img {
    right: inherit;
  }
  .statistics__container__cards .card__p {
    font-size: 15px;
  }
  .statistics__container__cards .card:nth-child(2) {
    align-self: flex-start;
  }
  .statistics__container__cards .card:nth-child(4) {
    align-self: flex-end;
  }
  .boost {
    background-image: url("../images/bg-boost-desktop.svg");
    padding: 50px 0;
  }
  .boost__h2 {
    font-size: 32px;
  }
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .footer__container__logo {
    margin-right: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .header__img {
    right: -10%;
  }
  .header__container__h1 {
    font-size: 56px;
  }
  .footer__container__logo {
    margin-right: 150px;
  }
}/*# sourceMappingURL=style.css.map */